.Items__carousel {
  display: flex;
}

.List {
  position: relative;
  flex: 1 1 auto;
  margin: 0 20px 20px 20px;
  overflow: hidden;
}

.List__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.List__pending {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 3;
  width: 120px;
  height: 120px;
  transform: translateX(-50%);
  background-image: url(../assets/img/loader.gif);
}

.Item {
  position: relative;
  display: flex;
  flex-direction: column;
	flex: 1 0 auto;
  margin: 0 20px 20px 0;
  max-width: 250px;
	height: auto;
  font-size: 14px;
  border: 1px solid $black;
}

.Item__card {
  display: flex;
  flex-direction: column;
	flex: 1 0 auto;
  padding: 5px;
	height: auto;
}

.Item__description {
  flex-grow: 1;
}

.Paging__link {
  margin: 4px;
  padding: 0;
  width: 40px;
  text-align: center;
  border: 1px solid $black;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  &--active {
    color: $blue-text;
  }
}

.Sort {
  margin-bottom: 30px;
}

.Sort__title {
  margin-right: 20px;
}

.Sort__link {
  position: relative;
  padding-right: 20px;
  cursor: pointer;

  &--down::after {
    content: '\2193';
    position: absolute;
    top: 0;
    right: 7px;
  }

  &--up::after {
    content: '\2191';
    position: absolute;
    top: 0;
    right: 7px;
  }
}

.Filter {
  margin-bottom: 20px;
}

.Filter__input {
  margin-right: 20px;
  width: 120px;
  
}

.Filter__submit {
  margin-right: 20px;
}

.PagingButton {
  margin-bottom: 40px;
}

.PagingButton__button {
  height: 100%;
  outline: none;
}