.List {
  display: flex;
  flex-wrap: wrap;
}

.Item {
  display: flex;
  flex-direction: column;
	flex: 1 0 auto;
  margin: 0 10px 20px 10px;
  max-width: 250px;
	height: auto;
  font-size: 14px;
  border: 1px solid $black;
}

.Item__card {
  display: flex;
  flex-direction: column;
	flex: 1 0 auto;
  padding: 5px;
	height: auto;
}

.Item__description {
  flex-grow: 1;
}

.Paging__link {
  margin: 4px;
  padding: 0;
  width: 40px;
  text-align: center;
  border: 1px solid $black;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  &--active {
    color: $blue-text;
  }
}

.Sort {
  margin-bottom: 30px;
}

.Sort__title {
  margin-right: 20px;
}

.Sort__link {
  position: relative;
  padding-right: 20px;
  cursor: pointer;

  &--down::after {
    content: '\2193';
    position: absolute;
    top: 0;
    right: 7px;
  }

  &--up::after {
    content: '\2191';
    position: absolute;
    top: 0;
    right: 7px;
  }
}
